/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
    height: 85vh;
    padding: 0px;
    font-size:10px;
    font-weight:normal;
    font-family: 'Source Sans Pro';
    margin: 80px 0px 0px 0px; /*background-color: #EFEFEF;*/
    font-family: 'Source Sans Pro';
    background: #EFEFEF url('../images/main-bg4.jpg') repeat left top;
}


