<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="owner" value="dbo"/>
    <add key="provider" value="SQLOLEDB.1"/>
    
    <add key="server" value="sqlsvr\prd"/>
    <add key="catalog" value="Nutratech_DB"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="nidaros"/>
    
    <add key="program_name" value="Program Name 1.0"/>
    <add key="version" value="Program Name 1.0  |  Copyright © 2015 Nutratech Biopharma Inc."/>
    <add key="email" value="donotreply@nutratech.com.ph"/>
    <add key="email_password" value="D0N0tR3ply"/>
    <add key="email_port" value="465"/>
    <add key="email_server" value="lax09.web.com.ph"/>
    <add key="email_ssl" value="True"/>
  </appSettings>
  <connectionStrings>
    
    <add name="ConnectionString" connectionString="Data Source=IT-MCV;Initial Catalog=Nutratech_DB;Persist Security Info=True;User ID=sa;Password=password;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringEDS" connectionString="Data Source=sqlsvr\prd;Initial Catalog=Nutratech_DB;Persist Security Info=True;User ID=sa;Password=nidaros;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    
    <!--<add name="ConnectionString" connectionString="Data Source=sqlsvr\prd;Initial Catalog=Nutratech_UAT;Persist Security Info=True;User ID=sa;Password=nidaros;Connect Timeout=300" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringEDS" connectionString="Data Source=APTVET\EDS;Initial Catalog=AMPS_APTVET;Persist Security Info=True;User ID=mgr;Password=mgr1;Connect Timeout=300" providerName="System.Data.SqlClient"/>-->
  
    <!--<add name="ConnectionString" connectionString="Data Source=sqlsvr\prd;Initial Catalog=Nutratech_QA;Persist Security Info=True;User ID=sa;Password=nidaros;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringEDS" connectionString="Data Source=APTVET\EDS;Initial Catalog=AMPS_APTVET;Persist Security Info=True;User ID=mgr;Password=mgr1;Connect Timeout=300" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--<sessionState mode="StateServer"
      stateConnectionString="tcpip=127.0.0.1:42424"
      cookieless="false"
      timeout="20"/>-->
        
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ScriptHandlerFactory"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  
</configuration>